$amarillo: #eeee22;
$rojo_metalico:#ff0000;
$blanco_perla: #ffffff;
$gris_metalico: #bababa;
$gris_oscuro: #3f3f3f;
$negro_mica_metalico: #000000;
$plata_metalico: #f4f7ff;
$azul_marino: #00455e;
$beige_bronce_metalico: #b7b49d;
$bronce_metalico: #a39451;
$bronce_mica: #443402;
$super_blanco: #ffffff;
$negro_mica: #1e1e1e;
$rojo_mica_metalico: #b72a2a;
$azul_metalico: #1833a0;
