@import "colors";
@mixin color-radio($nombre,$color){
  &.#{$nombre}{
    background: $color !important;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
%colors-all{
  @include color-radio('amarillo',$amarillo);
  @include color-radio('rojo_metalico',$rojo_metalico);
  @include color-radio('blanco_perla',$blanco_perla);
  @include color-radio('gris_metalico',$gris_metalico);
  @include color-radio('gris_oscuro',$gris_oscuro);
  @include color-radio('negro_mica_metalico',$negro_mica_metalico);
  @include color-radio('plata_metalico',$plata_metalico);
  @include color-radio('azul_marino',$azul_marino);
  @include color-radio('beige_bronce_metalico',$beige_bronce_metalico);
  @include color-radio('bronce_metalico',$bronce_metalico);
  @include color-radio('bronce_mica',$bronce_mica);
  @include color-radio('super_blanco',$super_blanco);
  @include color-radio('negro_mica',$negro_mica);
  @include color-radio('rojo_mica_metalico',$rojo_mica_metalico);
  @include color-radio('azul_metalico',$azul_metalico);
}
%colors-all-darken{
  @include color-radio('amarillo',darken($amarillo,5));
  @include color-radio('rojo_metalico',darken($rojo_metalico,5));
  @include color-radio('blanco_perla',$blanco_perla);
  @include color-radio('gris_metalico',darken($gris_metalico,5));
  @include color-radio('gris_oscuro',darken($gris_oscuro,5));
  @include color-radio('negro_mica_metalico',darken($negro_mica_metalico,5));
  @include color-radio('plata_metalico',$plata_metalico);
  @include color-radio('azul_marino',darken($azul_marino,5));
  @include color-radio('beige_bronce_metalico',darken($beige_bronce_metalico,5));
  @include color-radio('bronce_metalico',darken($bronce_metalico,5));
  @include color-radio('bronce_mica',darken($bronce_mica,5));
  @include color-radio('super_blanco',$super_blanco);
  @include color-radio('negro_mica',darken($negro_mica,5));
  @include color-radio('rojo_mica_metalico',darken($rojo_mica_metalico,5));
  @include color-radio('azul_metalico',darken($azul_metalico,5));
}
body{
  background-color: #efefef;
}
.vue-form-wizard.md {
    .wizard-icon-circle.tab_shape,.wizard-icon-container.tab_shape{
      height: 60px;
      justify-content: flex-start;
      background-color: #d4d4d4;
    }
    .wizard-nav.wizard-nav-pills{
      li{
        .wizard-icon{
          color: black;
          font-size: 40px;
          margin-left: 15%;
          @media screen and (max-width: 768px){
            display: none;
          }
        }
        &.active{
          .wizard-icon-circle{
            .wizard-icon{
              color: white;
            }
          }
        }
      }
    }
    .stepTitle{
      position: absolute;
      color: black;
      width: 7rem;
      text-align: left;
      &.active{
        color:white !important;
      }
    }
    .wizard-nav > li a{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }

//FLECHAS
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid red;
  position: absolute;
  right: -10px;
  z-index: 1;
}
.arrow-right-invalid{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(139, 0, 0);
  position: absolute;
  right: -10px;
  z-index: 1;
}
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.category{
  text-align: left !important;
  .custom-control{
    background: #e2e2e2;
    padding: 8px 20px 3px 20px;
    label{
      color: black;
    }
  }
}
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
//COLORES
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  @extend %colors-all;
  border: 0px solid #000000;
}
.control-radio .control_indicator {
  border-radius: 26%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  @extend %colors-all-darken;
  background: #d62424;
}

.control input:checked ~ .control_indicator {
  background: #ff0000;
  @extend %colors-all;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  @extend %colors-all;
  background: #ff0000;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}
.owl-nav{
  display: flex;
  justify-content: space-between;
  .owl-prev{
    position: absolute;
    top: 25%;
  }
  .owl-next{
    right: 0;
    position: absolute;
    top: 25%;
  }
}