<template>
  <div id="app">
    <div class="container">
      <form-wizard @on-complete = 'onComplete'
                   @on-change = 'onChange'
                   shape="tab"
                   subtitle=""
                   color="red"
                   back-button-text="Regresar"
                   next-button-text="Siguiente"
                   finish-button-text="Cotizar ahora" :hide-buttons="this.hide_controls">
        <template slot="title">
          <h2>Cotizar</h2>
        </template>
          <wizard-step
              slot-scope="props"
              slot="step"
              :tab="props.tab"
              :transition="props.transition"
              :index="props.index">
      </wizard-step>
        <tab-content title="Información Personal"
                     :before-change="formSubmit1">
          <form data-vv-scope="form1">
            <div class="form-row">
              <div class="col-sm-6">
                <div class="form-group">
                  <strong>Nombre <span class="text-danger">*</span></strong>
                  <input v-validate="'required'"
                         name="name"
                         type="text"
                         placeholder="Ejemplo: Carlos"
                         v-model="client.name"
                         :class="{'form-control': true, 'is-invalid' : errors.has('form1.name') }"
                         data-vv-as="nombre">
                  <span v-show="errors.has('form1.name')" class="invalid-feedback">{{ errors.first('form1.name') }}</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <strong>Apellido <span class="text-danger">*</span></strong>
                  <input v-validate="'required'"
                         name="last_name"
                         type="text"
                         placeholder="Ejemplo: Martínez"
                         v-model="client.last_name"
                         :class="{'form-control': true, 'is-invalid' : errors.has('form1.last_name') }"
                         data-vv-as="apellido">
                  <span v-show="errors.has('form1.last_name')" class="invalid-feedback">{{ errors.first('form1.last_name') }}</span>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6">
                <div class="form-group">
                  <strong>Email <span class="text-danger">*</span></strong>
                  <input v-validate="'required|email'"
                         name="email"
                         type="text"
                         placeholder="Ejemplo: carlosmartinez@mail.com"
                         v-model="client.email"
                         :class="{'form-control':true, 'is-invalid':errors.has('form1.email')}"
                         data-vv-as="correo electrónico">
                  <span v-show="errors.has('form1.email')" class="invalid-feedback">{{ errors.first('form1.email') }}</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <strong>Teléfono <span class="text-danger">*</span></strong>
                  <input v-validate="'required|max:8'"
                         name="phone"
                         type="text"
                         placeholder="Ejemplo: 8888-8887"
                         v-model="client.phone"
                         :class="{'form-control':true, 'is-invalid':errors.has('form1.phone')}"
                         data-vv-as="teléfono">
                  <span v-show="errors.has('form1.phone')" class="invalid-feedback">{{ errors.first('form1.phone') }}</span>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6">
                <div class="form-group">
                  <strong>Cédula <span class="text-danger">*</span></strong>
                  <input v-validate="'required|max:16'"
                         name="dni"
                         type="text"
                         placeholder="Ejemplo: 001-000000-0001X"
                         v-model="client.dni"
                         :class="{'form-control':true, 'is-invalid':errors.has('form1.dni')}"
                         data-vv-as="cédula">
                  <span v-show="errors.has('form1.dni')" class="invalid-feedback">{{ errors.first('form1.dni') }}</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <strong>¿Desea ser llamado por uno de nuestros agentes? <span class="text-danger">*</span></strong>
                  <select name="callback"
                          v-model="client.callback"
                          :class="{'custom-select':true, 'is-invalid':errors.has('form1.callback')}">
                    <option selected value="Si">SI</option>
                    <option value="No">NO</option>
                  </select>
                  <span v-show="errors.has('form1.callback')" class="invalid-feedback">{{ errors.first('form1.callback') }}</span>
                </div>
              </div>
            </div>
          </form>
        </tab-content>
        <tab-content title="Vehículos y Características" :before-change="formSubmit2">
          <div class="row">
            <div class="col-lg-9">
              <strong class="text-uppercase">{{client.name}} {{client.last_name}}</strong>
              <p class="font-weight-bold h2">
                <span class="text-danger">Construya</span> su vehículo
              </p>
              <form data-vv-scope="form2">
                <p><b>Seleccione la categoría de su vehículo</b><span class="text-danger">*</span></p>
                <div class="form-group category d-flex justify-content-between flex-wrap">
                  <template v-for="(categoria,index) in datas.category">
                    <div class="custom-control custom-radio custom-control-inline my-3 mr-0 rounded">
                      <label class="control control-radio" :for="'category_'+categoria.idCategoria">
                        {{categoria.categoria}}
                        <input type="radio" v-validate="'required'" data-vv-as="categorías" :data-vv-name="'category'+index" :id="'category_'+categoria.idCategoria" :value="categoria.idCategoria" @click="vehicle.category = categoria.categoria" v-model="vehicle.category_id" class="custom-control-input form-control radio-danger">
                        <div class="control_indicator"></div>
                      </label>
                    </div>
                  </template>
                </div>
                <span v-show="errors.has('form2.category0')" class="text-danger">{{ errors.first('form2.category0') }}</span>
                <div>
                  <div class="owl-carousel owl-theme">
                    <template v-for="model in datas.model">
                      <div class="item d-flex justify-content-center flex-column" style="cursor: pointer">
                        <img :src="model.urlImagenPeq" @click="get_version_colores(model.idVehiculo,model.vehiculo,$event)" :hidden="imgLoad">
                        <span class="text-center">{{model.vehiculo}}</span>
                      </div>
                    </template>
                  </div>
                  <input v-if="vehicle.category_id != null" type="hidden" v-model="vehicle.vehicle" v-validate="'required'" name="model">
                  <span v-show="errors.has('form2.model')" class="text-danger">Favor Seleccione un modelo</span>
                </div>
                <div class="row">
                  <div class="col-6">
                    <p><b>Versión *</b></p>
                    <template v-for="(version,index) in datas.version">
                      <div class="custom-control custom-radio custom-control-inline">
                        <label class="control control-radio" :for="version.versio">
                          {{version.versio}}
                          <input type="radio" v-validate="'required'" :id="version.versio" :value="version.versio" v-model="vehicle.version" @click="set_version(version.idVersion)" :data-vv-name="'version'+index" class="custom-control-input form-control radio-danger">
                          <div class="control_indicator"></div>
                        </label>
                      </div>
                    </template>
                    <span v-show="errors.has('form2.version1')" class="text-danger">Favor Seleccione una versión</span>
                  </div>
                  <div class="col-6">
                    <p><b>Color de Vehículo</b></p>
                    <template v-for="(color,index) in datas.color">
                      <div class="custom-control custom-radio custom-control-inline mr-0 pl-0">
                        <label class="control control-radio" :for="color.color">
                          <input type="radio" v-validate="'required'" :id="color.color" :value="color.color" v-model="vehicle.color" @click="set_color(color.idVehiculoColor)" :data-vv-name="'color'+index" class="custom-control-input form-control">
                          <div class="control_indicator" :class="color.color | color"></div>
                        </label>
                      </div>
                    </template>
                    <span v-show="errors.has('form2.color1')" class="text-danger">Favor Seleccione un color</span>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-3">
              <div class="alert alert-dark" role="alert">
                Detalles
              </div>
              <div class="d-flex justify-content-between">
                <span><b>Categoría:</b></span>
                <span>{{vehicle.category}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span><b>Modelo:</b></span>
                <span>{{vehicle.vehicle}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span><b>Color:</b></span>
                <span>{{vehicle.color}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span><b>Versión:</b></span>
                <span>{{vehicle.version}}</span>
              </div>
              <hr>
              <p><b>NOTAS:</b></p>
              <ul>
                <li>PRECIOS NO INCLUYEN IVA</li>
                <li>CONSULTE A NUESTROS VENDEDORES DE PISO PARA MÁS DETALLES</li>
                <li>LOS VEHÍCULOS Y CONFIGURACIONES PUEDEN VARIAR SEGÚN DISPONIBILIDAD Y MODELO</li>
                <li>CONSULTE POR NUESTROS ACCESORIOS EN TIENDA</li>
              </ul>
            </div>
          </div>
        </tab-content>
        <tab-content title="Finalizar" :before-change="formSubmit3">
          <div class="container">
            <div class="row flex-column-reverse flex-lg-row justify-content-center">
              <div class="col-lg-5">
                <div class="d-flex flex-column">
                  <span class="h5">Proforma</span>
                  <span class="h2 font-weight-bold"><label class="text-danger">TOYOTA</label> {{vehicle.vehicle}}</span>
                  <span class="font-weight-bold text-uppercase">{{client.name}} {{client.last_name}}</span>
                </div>
                <table>
                  <tr>
                    <td><b>Categoría: </b></td>
                    <td>{{vehicle.category}}</td>
                  </tr>
                  <tr>
                    <td><b>Color: </b></td>
                    <td>{{vehicle.color}}</td>
                  </tr>
                  <template v-for="detalles in datas.details">
                    <tr>
                      <td><b>{{detalles.detalle}}: </b></td>
                      <td>{{detalles.valor}}</td>
                    </tr>
                  </template>
                </table>
              </div>
              <div class="col-lg-7">
                <img class="img-fluid" :src="this.datas.imgGrande">
              </div>
            </div>
            <div class="row mt-3">
              <strong>NOTAS:</strong>
              <ul class="small">
                <li>PRECIOS NO INCLUYEN IVA</li>
                <li>CONSULTE A NUESTROS VENDEDORES DE PISO PARA MÁS DETALLES</li>
                <li>LOS VEHÍCULOS Y DATOS PUEDEN VARIAR SEGÚN DISPONIBILIDAD Y MODELO</li>
                <li>ESTOS PRECIOS SON INICIALES, TOTAL, PRIMA Y CUOTAS PUEDEN VARIAR SEGÚN DISPINIBILIDAD, <br>TIENDA Y VEHÍCULO, CONSULTE A SU VENDEDOR DE PISO</li>
              </ul>
                <transition name="fade">
                    <div v-show="this.send_mail" class="alert alert-success" role="alert">
                        <button type="button" @click="send_mail=false" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Se ha enviado la cotización a tu correo
                    </div>
                </transition>
            </div>
              <div class="row">
              <div class="col-lg-8 pr-0" style="background-color: lightgrey">
                <div class="d-flex flex-row justify-content-lg-between justify-content-center flex-wrap mr-3">
                  <table>
                    <tr>
                      <td><b class="mr-5">Plazo: </b></td>
                      <td></td>
                      <td>{{this.datas.costs.plazo}}</td>
                    </tr>
                    <tr>
                      <td><b class="mr-5">Prima: </b></td>
                      <td><span class="mr-4 text-danger">%</span></td>
                      <td>{{this.datas.costs.porcentajePrima}}</td>
                    </tr>
                    <tr>
                      <td><b class="mr-5">Tasa: </b></td>
                      <td><span class="mr-4 text-danger">%</span></td>
                      <td>{{this.datas.costs.tasa}}</td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="text-right"><b class="mr-4">Desde:</b></td>
                      <td class="text-secondary">($)</td>
                      <td class="text-left text-danger font-weight-bold">{{this.datas.costs.precio}}</td>
                    </tr>
                    <tr>
                      <td class="text-right"><b class="mr-4">Prima:</b></td>
                      <td class="text-secondary">($)</td>
                      <td class="text-left font-weight-bold">{{this.datas.costs.montoPrima}}</td>
                    </tr>
                    <tr>
                      <td class="text-right"><b class="mr-4">Cuota Mensual Aprox.:</b></td>
                      <td class="text-secondary">($)</td>
                      <td class="text-left text-danger font-weight-bold">{{this.datas.costs.cuotaMensual}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-lg-2 px-0">
                <a  target="_blank" :href="'https://toyota.casapellas.com/appcotiza/core/function/crearPDF.php?idCotizacion='+this.client.id_oculto" role="button" class="btn btn-danger d-flex align-items-center justify-content-center text-white h-100">
                  <i class="fas fa-print fa-fw"></i>IMPRIMIR
                </a>
              </div>
              <div class="col-lg-2 pr-md-0 px-0 pl-lg-3">
                <button @click="send_email" :disabled="loading" role="button" class="btn d-flex align-items-center justify-content-center btn-block btn-secondary text-white text-left h-100">
                  <i :class="loading ? 'fas fa-cog fa-spin' : 'far fa-envelope fa-fw'"></i> ENVIAR <br>POR EMAIL
                </button>
                  <a href="https://toyota.casapellas.com/cotiza-nuevo-prueba/">COTIZAR OTRO MODELO</a>
              </div>
            </div>
          </div>
        </tab-content>
      </form-wizard>
    </div>
  </div>
</template>
<script>
export default {
  name: 'app',
  data () {
    return {
      client:{
        name:null,
        last_name:null,
        email:null,
        dni:null,
        phone:null,
        callback:'Si',
        id_oculto:null,
      },
      vehicle:{
        category_id:"1",
        category:'Sedán',
        vehicle:null,
        vehicle_id:null,
        version:null,
        version_id: null,
        color:null,
        color_id:null
      },
        hide_controls:false,
        send_mail:false,
        loading:false,
        imgLoad:false,
      datas:{
        category:[],
        model:[],
        version:[],
        color:[],
        details:[],
        costs:[],
        current_details:[],
        imgGrande:null,
      }
    }
  },
  computed:{
    category(){
      return this.vehicle.category_id
    },
  },
  watch:{
    category(){
      this.get_model(this.vehicle.category_id);
    }
  },
  filters:{
    color: function (value){
      return value.split(' ').join('_').replace('á','a').replace('ú','u').toLowerCase();
    }
  },
  mounted: function(){
    this.get_category();
    this.flecha();
    this.get_model(1);
    this.carousel(true);
  },
  methods:{
    onComplete(){
      alert('listo');
    },
      set_color(data){
        this.vehicle.color_id = data;
      },
      set_version(data){
          this.vehicle.version_id = data;
      },
    flecha(){
      $(document).ready(function () {
        setTimeout(function () {
          $('.wizard-nav.wizard-nav-pills li.active a').append('<div class="arrow-right"></div>');
        },200)
      })
    },
    flecha_invalid(){
      $(document).ready(function () {
        $('.wizard-nav.wizard-nav-pills li.active a').append('<div class="arrow-right-invalid"></div>');
      })
    },
    delete_flecha(){
      $(document).ready(function () {
        $('.wizard-nav.wizard-nav-pills li').each(function () {
          $(this).find('a .arrow-right*').remove();
        })
      })
    },
    onChange(prev,next){
      this.delete_flecha();
      if(next !== 2){
        this.flecha();
      }
    },
    formSubmit1(){
      let dis = this;
      return new Promise((resolve, reject) => {
        this.$validator.validateAll('form1').then((isValid) => {
          dis.delete_flecha();
          resolve(isValid);
          if(isValid){
            dis.flecha();
          }else{
            dis.flecha_invalid()
          }
        })
      });
    },
    formSubmit2(){
      let dis = this;
      return new Promise((resolve, reject) => {
        this.$validator.validateAll('form2').then((isValid) => {
          dis.delete_flecha();
          resolve(isValid);
          if(isValid){
            dis.get_details(dis.vehicle.vehicle_id,dis.vehicle.version_id);
            let obj = dis.datas.model.find(function (obj) {
              return obj.idVehiculo === dis.vehicle.vehicle_id
            });
            dis.datas.current_details = obj;
            dis.set_data();
            dis.hide_controls=true;
            dis.delete_flecha()
          }else{
            dis.delete_flecha();
            dis.flecha_invalid()
          }
        })
      })
    },
    formSubmit3(){
      return new Promise((resolve, reject) => {
        this.$validator.validateAll('form3').then((isValid) => {
          dis.delete_flecha();
          resolve(isValid);
        })
      })
    },
    get_category(){``
      let dis = this;
      axios.get('https://toyota.casapellas.com/appcotiza/core/function/obtenerCategorias.php')
          .then(function (response) {
            dis.datas.category = response.data.categorias;
          })
    },
    get_model(data){
      let dis = this;
      axios.get('https://toyota.casapellas.com/appcotiza/core/function/obtenerVehiculos.php?idCategoria='+data)
          .then(function (response) {
            dis.datas.model = response.data.vehiculos;
            dis.datas.version = [];
            dis.datas.color = [];
            dis.vehicle.version = null;
            dis.vehicle.color = null;
            dis.vehicle.vehicle = null;
            dis.carousel(true)
          });
    },
    get_version_colores(data,data2,event){
      $(document).ready(function () {
        $('.owl-carousel .item img').css('border-bottom','');
        event.target.style.borderBottom = '3px solid red';
      });
      let dis = this;
      dis.vehicle.vehicle = data2;
      dis.vehicle.vehicle_id = data;
      dis.vehicle.version = null;
      dis.vehicle.color = null;
      axios.get('https://toyota.casapellas.com/appcotiza/core/function/obtenerVersion.php?idVehiculo='+data)
          .then(function (response) {
            dis.datas.version = response.data.versiones
          });
      axios.get('https://toyota.casapellas.com/appcotiza/core/function/obtenerColores.php?idVehiculo='+data)
          .then(function (response) {
            dis.datas.color = response.data.colores
          });
    },
    get_details(idVehiculo,idVersion){
      let dis = this;
      axios.get('https://toyota.casapellas.com/appcotiza/core/function/obtenerDetalles.php?idVehiculo='+idVehiculo+'&idVersion='+idVersion)
          .then(function(response){
            dis.datas.details = response.data.detalles;
            dis.datas.costs = response.data.costos;
          })
    },
      send_email(){
        this.loading = true;
        let dis = this;
        axios.post('https://toyota.casapellas.com/appcotiza/core/function/enviarPDF.php?idCotizacion='+dis.client.id_oculto)
            .then(()=>{
                dis.send_mail=true;
                dis.loading=false;
            })
      },
      set_data(){
        let dis = this;
        axios.post('https://toyota.casapellas.com/appcotiza/core/function/crearCotizacionHb.php',{
            name: dis.client.name,
            last_name: dis.client.last_name,
            email: dis.client.email,
            dni: dis.client.dni,
            phone: dis.client.phone,
            callback: dis.client.callback,
            idVersion: dis.vehicle.version_id,
            idModelo: dis.vehicle.vehicle_id,
            idVehiculoColor: dis.vehicle.color_id,
        }).then((response) =>{
            dis.client.id_oculto = response.data.id;
            dis.datas.imgGrande = response.data.srcimg.urlFoto;
        })
      },
    carousel(reset){
      let tis = this;
        tis.imgLoad = true;
        var $owl = $('.owl-carousel');
      if(reset){
        $owl.trigger('destroy.owl.carousel');
        setTimeout(function () {
            $owl.trigger('refresh.owl.carousel')
        },1000)
      }
      setTimeout(function () {
        $owl.children().each( function( index ) {
          $(this).attr( 'data-position', index ); // NB: .attr() instead of .data()
        });
        let options={};
        if(tis.datas.model.length > 2){
            options = {
                center: true,
                loop: true,
                items: 2,
                // autoWidth:true,
                nav: true,
                navText: ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>']
            };
        }else{
            options = {
                center: true,
                loop: false,
                items: 2,
                // autoWidth:true,
                nav: true,
                navText: ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>']
            };
        }
        $owl.owlCarousel(options);
        setTimeout(function () {
            tis.imgLoad=false;
        },1000);
        $(document).on('click', '.owl-item>div', function() {
          $owl.trigger('to.owl.carousel', $(this).data( 'position' ) );
        });
      },1000)
    }
  }
}
</script>
<style>
  @import "assets/css/main.css";
</style>
